@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.container {
  max-width: 1008px;
  margin: 0 auto;
}
.layout{
  height: 100vh;
  background-image: linear-gradient(to bottom, white, #dbeafe, white);
}
.navbar-root{
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  align-items: center;
}
.logo{
  font-size: 24px;
}
.links{
  display: flex;
  align-items: center;
  gap: 20px;
}
.link-items{
  font-size: 14px;
  text-decoration: none;
  color: #525252;
}
.link-items:hover{
  color: black;
  transition: color 0.3s ease;
}
.btn{
  all:unset;
  font-size: 16px;
  padding: 8px 14px;
  background-color: #2679f3;
  border-radius: 4px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
  text-shadow: 0px 0.5px 1px rgba(0,0,0,0.25);
  cursor: pointer;
}
.btn:hover{
  background-color: #1a5ed8;
  transition: background-color 0.3s ease-out;
}
.badge{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  max-width: 400px;
  font-weight: medium;
  background-color: #1e1f250a;
  padding: 8px 12px;
  width: fit-content;
  margin: 0 auto;
  border: 0.5px solid #e5e5e5;
  border-radius: 50px;
}
.badge:hover{
  background-color: #e5e5e5;
  transition: background-color 0.3s ease-out;
}
.hero-badge{
  padding: 80px 0px;
}
.hero-title-container{
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.hero-title{
  display: flex;
  max-width: 704px;
  font-weight: bold;
  font-size: 56px;
  font-weight: bold;
  margin: 24px 0px 0px;
  word-spacing: .02em;
  line-height: 1.1;
  letter-spacing: -0.2px;
  text-align: center;
}

.hero-description{
  margin-top: 16px;
  font-size: 18px;
  color: #525252;
  max-width: 500px;
  text-align: center;
  line-height: 1.5;
}
.hero-description-badge{
  display: flex;
  justify-content: center;
  align-items: center;
}